// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #757ae9;
$secondary: #f7f8fe;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #6ccb4b;
$negative: #cb4b4b;
$info: #31ccec;
$warning: #fbc61e;

@import "~quasar-variables-styl";
